@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-12-06 19:10:32
 * @version $Id$
 */
@import url("othertest.css");

.defaultStyle {
    width:200px;
    height:200px;
    background: #B2D5BA;
    margin-top:20px;
    margin-left:20px;
    border: solid 1px #248F8D;
}  


